/* write your styles here */

body {
    margin: 0;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

marquee {
    height: 5vh;
    background-color: #ed484c;
    color: white;
    background-size: 100%
}

#logo {
    display: inline-block;
    padding-left: 1vw;
    padding-top: 9px;
}

#logo-img {
    width: 80px;
    height: 34px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #4c4c4c;
}

ul {
    display: flex;
}

.navbar {
    text-decoration: none;
    color: #cacaca;
    display: inline-block;
    padding-right: 2vw;
    font-size: 15px;
}

li {
    list-style: none;
}

#intro {
    background: #f18d97 url(images/floral.png);
    width: 100%;
    height: 458px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-btn {
    text-decoration: none;
    background: black;
    color: #f18d97;
    padding: 21px 75px;
    font-size: 29px;
    margin-top: 18px;
}

#join-para p {
    font-size: 32px;
    text-align: center;
}

@media (max-width :760px) {
    #join-para p {
        font-size: 21px;
    }
}

#join {
    width: 71%;
    ;
}

#join-hed {
    display: flex;
    justify-content: center;
}

#join-h {
    font-size: 4em;
    text-align: center;
}

@media (max-width :365px) {
    #join-h {
        font-size: 3em;
    }
}

#join-para {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

#join-button {
    display: flex;
    justify-content: center;
}

@media (max-width :698px) {
    #join-btn {
        margin-bottom: 50px;
    }
}

@media (max-width :491px) {
    #join-btn {
        padding: 10px 26px;
    }
}

#services {
    background: #efece7 url(images/floral.png);
    width: 100%;
    padding-top: 1px;
}

#serv h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

#serv figure {
    border: 1px solid;
    width: 28%;
    display: inline-block;

}

#serve-fig i {
    font-size: 5em;
}